# For more information, see [docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax)

# This repository is maintained by:

- @dsyme @eaftan @pelikhan @krzysztof-cieslak

/pkg/parser/ @dsyme @eaftan @pelikhan @krzysztof-cieslak
/pkg/workflow/ @dsyme @eaftan @pelikhan @krzysztof-cieslak
/pkg/cli/ @dsyme @eaftan @pelikhan @krzysztof-cieslak
/cmd/gh-aw/ @dsyme @eaftan @pelikhan @krzysztof-cieslak
