name: Test Workflow
on:
  workflow_dispatch:
    inputs:
      test_param:
        description: 'Question from the dispatcher workflow'
        type: string
        required: true
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test workflow dispatched with param: ${{ inputs.test_param }}"
